:root {
    --font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --page-background: #fff;
    --page-secondary-background: hsl(37, 52%, 95%);
    --color-text: #000;
    --color-error: #b7302c;
    --color-success: #3eb059;
    --color-highlight: #eee;
    --color-warning: #ffb817;
    --color-secondary-text: #666;
    --color-muted: #999;

    --color-danger: red;
    --color-btn-primary: #00b648;
    --color-btn-secondary: #9b9b9b;

    --table-border: #eee;
    --table-background: #fff;
    --table-header-border: #ccc;

    --border: 1px solid #e0e0e0;
    --base-0: #fff;
    --base-1: #f5f5f5;
    --base-2: #e0e0e0;
    --base-3: #ccc;
    --base-4: #666;
    --base-5: #444;
    --base-6: #222;
}

body {
    background: var(--page-secondary-background);
    color: var(--color-text);
    margin: 0;
    padding: 0;
    line-height: 1.375;
}

body, button, input, select, textarea {
    font-family: var(--font-sans-serif);
    font-size: 1rem;
}

.admin-content table {
    border-collapse: collapse;
    line-height: 1.75;
}
.admin-content table a {
    display: inline-block; /* for full height in the cell */
}
.admin-content td,
.admin-content th {
    padding: 0 0.5em;
    text-align: left;
    background: var(--table-background);
    border-bottom: 1px solid var(--table-border);
}
.admin-content th {
    border-color: var(--table-header-border);
}
.admin-content th a.sort-link {
    color: var(--color-text);
}
.admin-content th.current-sort,
.admin-content td.current-sort {
    background: var(--color-highlight);
}
.admin-content .list-content .table-wrapper {
    overflow-x: auto;
}
.admin-content .list-content td {
    white-space: nowrap;
}

td.type-int {
    text-align: right;
}

h1 {
    font-size: 2em;
    margin: 1rem 0;
}

nav {
    backdrop-filter: saturate(3);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.15));
    padding: 0 0.5em;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav a.main-menu-link {
    color: var(--color-text);
    text-decoration: none;
    display: block;
    padding: 0.25em 0.5em;
}

nav .active a.main-menu-link {
    background: var(--page-secondary-background);
}

section.list-header {
    display: flex;
    gap: 2em;
    align-items: center;
}
section.list-header h1 {
    margin: 0;
}

.list-action-link {
    text-decoration: none;
    color: var(--color-secondary-text);
}

.list-action-link span {
    display: none;
}

.list-action-link:before {
    display: inline-block;
    padding: 0 2px;
}

.list-action-link-edit:before {
    content: '✎';
    transform: scaleX(-1);
}

.list-action-link-show:before {
    content: '👁';
}

.list-action-link-delete:before {
    color: var(--color-danger);
    content: '✗';
}

.entity-action-new:before {
    content: '➕';
    font-size: 0.625em;
    display: inline-block;
    position: relative;
    left: -4px;
    top: -2px;
}

.filter-button:before {
    content: '🕨';
    color: var(--color-muted);
    transform: rotate(90deg) scale(1.2) translate(4px, 1px);
    display: inline-block;
    padding-right: 0.5em;
}

article {
    padding: 0 1em;
}

article.error {
    color: var(--color-error);
}

.error-message-box {
    border: var(--border);
    border-color: var(--color-error);
    padding: 0 1em;
    margin: 0 0 1em;
    background: color-mix(in srgb, var(--color-error) 10%, var(--page-background) 90%);
    color: color-mix(in srgb, var(--color-error) 50%, var(--color-text) 50%);
}

section {
    margin: 1em 0;
}

.validation-error {
    display: block;
    color: var(--color-error);
    line-height: 1.25rem;
    font-size: 0.875rem;
}

.form-buttons {
    border-top: var(--border);
    padding: 1em 0 0;
    margin: 1em 0;
}

.link-as-button, button[type=submit] {
    --btn-color: var(--color-btn-secondary);
    display: inline-block;
    text-decoration: none;
    border: 1px solid var(--btn-color);
    padding: 0.125em 1em;
    margin: 0;
    line-height: 1.5;
    border-radius: 0.25em;
    background: linear-gradient(to bottom, color-mix(in srgb, var(--btn-color) 17%, var(--page-background) 100%), color-mix(in srgb, var(--btn-color) 23%, var(--page-background) 90%));
    color: color-mix(in srgb, var(--btn-color) 60%, var(--color-text) 100%);
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1);
}
.link-as-button:hover, button[type=submit]:hover {
    background: linear-gradient(to bottom, color-mix(in srgb, var(--btn-color) 12%, var(--page-background) 100%), color-mix(in srgb, var(--btn-color) 18%, var(--page-background) 90%));
}
.link-as-button:active, button[type=submit]:active {
    box-shadow: none;
}

.link-as-button.primary, button:not(.secondary) {
    --btn-color: var(--color-btn-primary);
}

.link-as-button.danger {
    --btn-color: var(--color-danger);
}

.null {
    color: var(--color-muted);
    font-variant-caps: all-small-caps;
    font-size: 0.75em;
}

.flash-message {
    --msg-color: #888;
    padding: 0.5em;
    background: color-mix(in srgb, var(--msg-color) 10%, var(--page-background) 90%);
    color: color-mix(in srgb, var(--msg-color) 80%, var(--color-text) 80%);
    border: 1px solid var(--msg-color);
    border-radius: 0.25em;
    margin: 1em;
    position: relative;
}
.flash-message.flash-error {
    --msg-color: var(--color-error);
}
.flash-message.flash-success {
    --msg-color: var(--color-success);
}
.flash-message.flash-warning {
    --msg-color: var(--color-warning);
}
button.flash-message-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border: none;
    background: transparent;
    color: currentColor;
    padding: 0;
    margin: 0;
    font-size: 1.75em;
    line-height: 1rem;
    cursor: pointer;
}
