:root {
    --font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --page-background: #fff;
    --page-secondary-background: hsl(37, 52%, 95%);
    --color-text: #000;
    --color-error: #b7302c;
    --color-success: #3eb059;
    --color-highlight: #f2f2f2;
    --color-warning: #ffb817;
    --color-secondary-text: #666;
    --color-muted: #999;

    --color-danger: red;
    --color-btn-primary: #00b648;
    --color-btn-secondary: #ccc;

    --table-border: #eee;
    --table-background: #fff;
    --table-header-border: #ccc;

    --border: 1px solid #e0e0e0;
    --base-0: #fff;
    --base-1: #f5f5f5;
    --base-2: #e0e0e0;
    --base-3: #ccc;
    --base-4: #666;
    --base-5: #444;
    --base-6: #222;
}

/* common elements */
body {
    background-color: var(--page-secondary-background);
    color: var(--color-text);
    margin: 0;
    padding: 0;
    line-height: 1.375;
}

body, button, input, select, textarea {
    font-family: var(--font-sans-serif);
    font-size: 1rem;
}

input[type="text"],
input[type="search"],
input[type="number"],
input[type="email"],
input[type="date"],
select,
button.ay-select-button {
    box-sizing: border-box;
    padding: 0.0625em 0.125em;
    height: 1.75em;
}
select[size] {
    height: auto;
}

h1 {
    font-size: 2em;
    margin: 1rem 0;
}

article {
    padding: 0 1em;
}

article.error {
    color: var(--color-error);
}

.error-message-box {
    border: var(--border);
    border-color: var(--color-error);
    border-radius: 0.25em;
    padding: 0 1em;
    margin: 0 0 1em;
    background: color-mix(in srgb, var(--color-error) 10%, var(--page-background) 90%);
    color: color-mix(in srgb, var(--color-error) 50%, var(--color-text) 50%);
}

section {
    margin: 1em 0;
}

/* service */

.hidden {
    display: none !important;
}

/* Header */

nav {
    backdrop-filter: saturate(3);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.15));
    padding: 0 0.5em;
}
nav ul.main-menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
nav a.main-menu-link {
    color: var(--color-text);
    text-decoration: none;
    display: block;
    padding: 0.25em 0.5em;
}

nav .active a.main-menu-link {
    background: var(--page-secondary-background);
}

section.list-header {
    display: flex;
    gap: 2em;
    align-items: center;
}
section.list-header h1 {
    margin: 0;
}

/* Show screen */

.show-content .type-string {
    white-space: pre;
}

/* List screen */

.admin-content table {
    border-collapse: collapse;
    line-height: 1.75;
}
.admin-content table a {
    display: inline-block; /* for full height in the cell */
}
.admin-content td,
.admin-content th {
    padding: 0 0.5em;
    text-align: left;
    vertical-align: top;
}
.admin-content tbody tr {
    background: var(--table-background);
}
.admin-content tr:hover td {
    background: transparent;
}
.admin-content th {
    border-color: var(--table-header-border);
    font-weight: normal;
    backdrop-filter: saturate(3) contrast(0.85);
}
.admin-content th a.sort-link {
    color: var(--color-text);
}
.admin-content td.current-sort {
    backdrop-filter: contrast(0.9);
}
.admin-content th.current-sort {
    backdrop-filter: saturate(4) contrast(0.7);
}
.admin-content .list-content .table-wrapper {
    overflow-x: auto;
}
.admin-content .list-content td,
.admin-content .list-content th {
    white-space: nowrap;
}

td.type-int {
    text-align: right;
}

td.row-actions {
    position: relative;
}
.list-action-link {
    text-decoration: none;
    color: var(--color-secondary-text);
}

.list-action-link span {
    display: none;
}

.list-action-link:before {
    display: inline-block;
    padding: 0 2px;
}

.list-action-link-edit:before {
    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M491 1536l91-91-235-235-91 91v107h128v128h107zm523-928q0-22-22-22-10 0-17 7l-542 542q-7 7-7 17 0 22 22 22 10 0 17-7l542-542q7-7 7-17zm-54-192l416 416-832 832H128v-416zm683 96q0 53-37 90l-166 166-416-416 166-165q36-38 90-38 53 0 91 38l235 234q37 39 37 91z'/%3E%3C/svg%3E");
    vertical-align: -2px;
    opacity: 0.6;
}

.list-action-link-show:before {
    content: url("data:image/svg+xml,%3Csvg height='16' width='16' viewBox='0 0 2091 2091' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1813.333 1216q-152-236-381-353 61 104 61 225 0 185-131.5 316.5t-316.5 131.5-316.5-131.5-131.5-316.5q0-121 61-225-229 117-381 353 133 205 333.5 326.5t434.5 121.5 434.5-121.5 333.5-326.5zm-720-384q0-20-14-34t-34-14q-125 0-214.5 89.5t-89.5 214.5q0 20 14 34t34 14 34-14 14-34q0-86 61-147t147-61q20 0 34-14t14-34zm848 384q0 34-20 69-140 230-376.5 368.5t-499.5 138.5-499.5-139-376.5-368q-20-35-20-69t20-69q140-229 376.5-368t499.5-139 499.5 139 376.5 368q20 35 20 69z'/%3E%3C/svg%3E");;
    vertical-align: -2px;
    opacity: 0.6;
}

.list-action-link-delete:before {
    color: var(--color-danger);
    content: '✗';
}

.list-action-delete-popup {
    position: absolute;
    top: 0;
    right: 4px;
    z-index: 1;
    background: var(--table-background);
    outline: 7px solid var(--table-background);
    box-shadow: 0 1px 8px 4px rgba(0, 0, 0, 0.3);
    font-size: 0.875em;
}

.null {
    color: var(--color-muted);
    font-variant-caps: all-small-caps;
    font-size: 0.75em;
}

/* Filters on list screen */

.filter-controls {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em 1em;
    margin: 1em 0;
}
.filter-controls .filter-label, .filter-controls label {
    user-select: none;
    white-space: nowrap;
}
.filter-control {
    max-width: min-content;
}
.filter-wrapper {
    display: block;
}
.filter-control-input,
.filter-control-searchinput,
.filter-control-autocomplete {
    flex: 0 1 calc(280px + 1em);
    min-width: 140px;
    max-width: none;
}
.filter-control-input input[type="text"],
.filter-control-searchinput input[type="search"],
.filter-control-autocomplete button.ay-select-button {
    width: 100%;
}
.filter-control-date input[type="date"],
.filter-control-select select
{
    min-width: 140px;
}
.filter-control-radio .filter-wrapper,
.filter-control-checkboxarray .filter-wrapper {
    padding: 0.1875em 0 0;
    width: max-content;
    max-width: 280px;
}
.filter-control-radio .filter-wrapper label,
.filter-control-checkboxarray .filter-wrapper label {
    margin-right: 0.5em;
    position: relative;
    left: -3px;
}
.filter-control-button {
    margin: 21px 0 0;
}

/* Forms */

.form-wrapper {
    display: grid;
    grid-template-columns: [labels] auto [controls] 1fr;
    grid-gap: .5em;
    align-items: baseline;
}
@media screen and (max-width: 480px) {
    .form-wrapper {
        display: block;
    }
}
.form-control-textarea {
    align-self: center;
}
.form-control-textarea textarea {
    width: 100%;
    height: 200px;
}
.form-control-autocomplete .ay-select,
.form-control-autocomplete .ay-select-button {
    width: 300px;
}

.form-buttons {
    margin: 1em 0;
    grid-column-start: controls;
    display: flex;
    justify-content: space-between;
}

.validation-error {
    display: block;
    color: var(--color-error);
    line-height: 1rem;
    font-size: 0.875rem;
}

/* Icons */

.entity-action-new:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 1792 1792'%3E%3Cpath d='M1678.58 880.06v143.98c0 26.67-9.34 49.33-28 68-18.67 18.67-41.34 28-68 28h-464.02v466.2c0 26.67-9.34 49.33-28 68-18.67 18.67-41.34 28-68 28H882.94c-26.66 0-49.33-9.33-68-28-18.66-18.67-28-41.33-28-68v-466.2H322.92c-26.66 0-49.33-9.33-68-28-18.66-18.67-28-41.33-28-68V880.06c0-26.67 9.34-49.34 28-68 18.67-18.67 41.34-28 68-28h464.02V322.22c0-26.67 9.34-49.33 28-68 18.67-18.67 41.34-28 68-28h139.62c26.66 0 49.33 9.33 68 28 18.66 18.67 28 41.33 28 68v461.84h464.02c26.66 0 49.33 9.33 68 28 18.66 18.66 28 41.33 28 68z'/%3E%3C/svg%3E");
    display: inline-block;
    opacity: 0.6;
    margin: 0 0.25em 0 -0.25em;
    vertical-align: -2px;
}

.filter-button:before {
    content: url("data:image/svg+xml,%3Csvg height='16' width='16' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1595 295q17 41-14 70l-493 493v742q0 42-39 59-13 5-25 5-27 0-45-19l-256-256q-19-19-19-45V858L211 365q-31-29-14-70 17-39 59-39h1280q42 0 59 39z'/%3E%3C/svg%3E");
    display: inline-block;
    opacity: 0.6;
    margin: 0 0.25em 0 -0.25em;
    vertical-align: -2px;
}

/* Links and buttons */

.link-as-button, button[type=submit] {
    --btn-color: var(--color-btn-secondary);
    display: inline-block;
    text-decoration: none;
    border: 1px solid color-mix(in srgb, var(--btn-color) 75%, var(--color-text) 25%);
    padding: 0.125em 1em;
    margin: 0;
    line-height: 1.5;
    border-radius: 0.25em;
    background: linear-gradient(to bottom, color-mix(in srgb, var(--btn-color) 10%, var(--page-background) 100%), color-mix(in srgb, var(--btn-color) 20%, var(--page-background) 90%));
    color: color-mix(in srgb, var(--btn-color) 50%, var(--color-text) 100%);
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1);
}
.link-as-button:hover, button[type=submit]:hover {
    background: linear-gradient(to bottom, color-mix(in srgb, var(--btn-color) 10%, var(--page-background) 100%), color-mix(in srgb, var(--btn-color) 10%, var(--page-background) 90%));
    border: 1px solid color-mix(in srgb, var(--btn-color) 70%, var(--color-text) 30%);
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.15);
}
.link-as-button:active, button[type=submit]:active {
    background: linear-gradient(to bottom, color-mix(in srgb, var(--btn-color) 20%, var(--page-background) 100%), color-mix(in srgb, var(--btn-color) 10%, var(--page-background) 90%));
    box-shadow: none;
}

.link-as-button.primary, button:not(.secondary) {
    --btn-color: var(--color-btn-primary);
}

.link-as-button.danger {
    --btn-color: var(--color-danger);
}

/* Flash messages */
.flash-message {
    --msg-color: #888;
    padding: 0.5em 2em 0.5em 0.75em;
    background: color-mix(in srgb, var(--msg-color) 10%, var(--page-background) 90%);
    color: color-mix(in srgb, var(--msg-color) 80%, var(--color-text) 80%);
    border: 1px solid var(--msg-color);
    border-radius: 0.25em;
    margin: 1em;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 2px 7px -3px rgba(0, 0, 0, 0.2);
}
.flash-message.flash-error {
    --msg-color: var(--color-error);
}
.flash-message.flash-success {
    --msg-color: var(--color-success);
}
.flash-message.flash-warning {
    --msg-color: var(--color-warning);
}
button.flash-message-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border: none;
    background: transparent;
    color: currentColor;
    padding: 0;
    margin: 0;
    font-size: 1.75em;
    line-height: 1rem;
    cursor: pointer;
}

/* Custom controls */
.ay-select {
    position: relative;
}
button.ay-select-button {
    position: relative;
    background: var(--page-background);
    color: var(--color-text);
    border: 1px solid color-mix(in srgb, var(--color-text) 50%, transparent);
    line-height: 1.5;
    border-radius: 2px;
    padding: 0 2em 0 0.5em;
    white-space: pre;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
}
button.ay-select-button:focus {
    border-color: color-mix(in srgb, var(--color-text) 80%, transparent);
    outline: color-mix(in srgb, var(--color-text) 80%, transparent) auto 1px;
}
button.ay-select-button:after {
    content: '▾';
    position: absolute;
    right: 0.25em;
    top: 0.0em;
}
button.ay-select-button.opened:after {
    content: '▴';
}
.ay-select {
    position: relative;
}
.ay-select-dropdown {
    position: absolute;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.5);
}
.ay-select .search {
    background: var(--base-2);
    color: var(--color-text);
    border: 1px solid color-mix(in srgb, var(--color-text) 50%, transparent);
    border-radius: 2px;
    white-space: pre;
    width: 100%;
    height: 1.5em;
    box-sizing: border-box;
    padding: 0 2px 0 22px;
}
.ay-select .search:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 50 50'%3E%3Cpath d='M21 3C11.602 3 4 10.602 4 20s7.602 17 17 17c3.355 0 6.46-.984 9.094-2.656l12.281 12.281 4.25-4.25L34.5 30.281C36.68 27.421 38 23.88 38 20c0-9.398-7.602-17-17-17Zm0 4c7.2 0 13 5.8 13 13s-5.8 13-13 13S8 27.2 8 20 13.8 7 21 7Z'/%3E%3C/svg%3E");
    position: absolute;
    left: 4px;
    top: 5px;
    translate: 2px 0;
}
.ay-select .search .highlight {
    background: var(--color-warning);
}
.ay-select .search.animate:before {
    animation: moveInCircle 0.5s linear infinite;
}
.ay-select select.dropdown-select {
    background: var(--page-background);
    color: var(--color-text);
    border: 1px solid color-mix(in srgb, var(--color-text) 50%, transparent);
    width: 100%;
    top: 1.5em;
}
.ay-select option {
    padding: 0.125em 0.25em;
}

@keyframes moveInCircle {
    0% {
        translate: 2px 0;
    }
    12.5% {
        translate: 1.41px 1.41px;
    }
    25% {
        translate: 0 2px;
    }
    37.5% {
        translate: -1.41px 1.41px;
    }
    50% {
        translate: -2px 0;
    }
    62.5% {
        translate: -1.41px -1.41px;
    }
    75% {
        translate: 0 -2px;
    }
    87.5% {
        translate: 1.41px -1.41px;
    }
    100% {
        translate: 2px 0;
    }
}
